body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg , blue , skyblue)
}

.register{
    display: grid;
    gap: 10px;

}
.container{
    background-color: rgb(114, 176, 231);
    padding: 30px;
    border-radius: 15px;
    height: 400px;
    text-align: center;
    box-shadow: 3px 5px 5px black;
}

















button{
    width: 100%;
    padding: 12px;
    background-color: skyblue;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: rgb(106, 174, 201);

}

#p{
    font-weight: bold;
}

#login{
    font-weight: bold;
    color: black;
}

