body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg , #838584 , #1b1d1c);;
}

.signup{
    display: grid;
    gap: 10px;
}

.container{
   background: white;
   padding: 30px;
   height: 350px;
   border-radius: 12px;
   text-align: center;
   box-shadow: 3px 5px 5px #00000030;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #1e1e1e;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(77, 74, 74);
}


#p{
    font-weight: bold;
}

#login{
    font-weight: bold;
    color: black;
    
}
